.QuickInfo {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin-right: 20px;
}

.QuickInfoCard {
  margin-bottom: 20px;
  width: 350px;
}

.QuickInfoCard .Overlay {
  margin-top: -8px;
}

.QuickInfoCard .Overlay svg {
  color: white !important;
}

.EducationTitle {
  padding-bottom: 0 !important;
}

.EducationText {
  padding-top: 0 !important;
  text-align: left;
}

.TechnologyGrid {
  margin: 0 16px 16px !important;
}
