.QuickInfo {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-right: 20px;
}

.QuickInfoCard {
  margin-bottom: 20px;
}

.EducationTitle {
  padding-bottom: 0 !important;
}

.EducationText {
  padding-top: 0 !important;
}
