h1 {
  font-family: "Permanent Marker", Roboto, sans-serif;
  font-size: 40px !important;
  line-height: 52px !important;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.Main {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 100%;
}
